<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /{{path}}</title>
 </head>
 <body>
<h1>Index of /{{path}}</h1>
  <table>
    <tr><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr>
    <tr><th colspan="4"><hr></th></tr>
    <tr><td><a href="../">Parent Directory</a></td><td>&nbsp;</td><td align="right">  - </td><td>&nbsp;</td></tr>
{{#each items}}
    <tr><td><a href="{{link}}">{{name}}</a></td><td align="right">{{date}}</td><td align="right">{{size}}</td><td>&nbsp;</td></tr>
{{/each}}
    <tr><th colspan="4"><hr></th></tr>
</table>
</body></html>